<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactordevelopment.ImperiumLite">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Imperium"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.reactordevelopment.ImperiumLite.TutorialActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.reactordevelopment.ImperiumLite.OptionsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.reactordevelopment.ImperiumLite.HelpActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.reactordevelopment.ImperiumLite.AboutActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.reactordevelopment.ImperiumLite.OpenSaveActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.reactordevelopment.ImperiumLite.StatsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.reactordevelopment.ImperiumLite.BuildActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.reactordevelopment.ImperiumLite.AchivementActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.reactordevelopment.ImperiumLite.GameActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.reactordevelopment.ImperiumLite.MainActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>